body{
    background:#111;
    color:white;
    font-family:Georgia,serif;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

    margin:0;
}

.container{
    text-align:center;

    animation:fadein 1.5s ease;
}

h1{
    font-size:5rem;
    font-weight:normal;
}

p{
    color:#bbb;
    font-size:1.3rem;
}

@keyframes fadein{

from{
    opacity:0;
}

to{
    opacity:1;
}

}
